{% if custom_admin_footer %}
    {{ custom_admin_footer|raw }}
{% else %}
    <a href="https/facebook.com/garciaa94" target="_blank" rel="noopener noreferrer">Contacto peter.garcia@pucese.edu.ec</a> 
{% endif %}
